header.header
  .header__image    
  h1.header__title Lumens 2    
  span.header__title-span becuase it&apos;s    
  section.header__slider
    .header__slide
      h2.header__slide-title Fast
    .header__slide
      h2.header__slide-title Clean
    .header__slide
      h2.header__slide-title Documented
    .header__slide
      h2.header__slide-title Vanilla
    .header__slide
      h2.header__slide-title Tiny
    .header__slide
      h2.header__slide-title Compatible
    .header__slide
      h2.header__slide-title Responsive
    .header__slide
      h2.header__slide-title Lightweight
    .header__slide
      h2.header__slide-title Configurable