.heading-primary {
  font-size: 4rem;
  margin: 0 0 3rem 0;
  position: relative;
  font-weight: lighter;

  &::after {
    content: " ";
    width: 30rem;
    height: 1px;
    background-color: #454545;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}

.inline-code {
  display: inline-block;
  background: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 1.4rem;
  color: #c11d98;

  &--type{
    color: #0d8014;
  }
}
