.property {
  background: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.4rem;
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }

  &__title {
    color: #c42cd6;
    margin-bottom: 2rem !important;
    position: relative;
    font-size: 1.6rem;

    &::after {
      position: absolute;
      display: block;
      content: " ";
      background-color: #c42cd6;
      height: 1px;
      width: 4rem;
      bottom: -1rem;
    }
  }

  &__type {
    position: absolute;
    top: -15px;
    right: 10px;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding: 2px 5px;
    text-decoration: none;
    color: #fff;
    background-color: #c42cd6;
    transition: background-color 200ms ease-out;

    &:hover {
      background-color: lighten(#c42cd6, 8);
    }
  }

  &--option &__title {
    color: #394fca;
    &::after {
      background-color: #394fca;
    }
  }

  &--option &__type {
    background-color: #394fca;
    &:hover {
      background-color: lighten(#394fca, 8);
    }
  }

  &--interface &__title {
    color: #179215;
    &::after {
      background-color: #179215;
    }
  }

  &--interface &__type {
    background-color: #179215;
    &:hover {
      background-color: lighten(#179215, 8);
    }
  }

  &--function &__title {
    color: #f08d49;
    &::after {
      background-color: #f08d49;
    }
  }

  &--function &__type {
    background-color: #f08d49;
    &:hover {
      background-color: lighten(#f08d49, 8);
    }
  }
}
