.thumbnail-slider {
  width: calc(100% + 2rem);
  margin-left: -1rem;

  &--large {
    margin: 2rem auto;
    width: 30rem;
  }
  
  &--small {
    margin: 0 auto 2rem auto;
    width: 32rem;
    height: 8rem;
  }

  &--small &__slide{
    opacity: 0.7;
    &--active{
      opacity: 1;
    }
  }

  &__slide {
    height: 100%;
    margin: 0 1rem;
  }

  &__content {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
