.nav {
  background-color: #444;
  color: #fff;
  
  &__list {
    width: 100%;
    max-width: 124rem;
    margin: 0 auto;
    display: flex;
  }

  &__item {
    padding: 1rem;
    display: block;
    transition: background-color 200ms ease-out;
    &:hover {
      background-color: #666;
    }
  }

  &__link {
    font-size: 2rem;
    &--active {
    }
  }
}
