.heading-primary {
  font-size: 4rem;
  margin: 0 0 3rem 0;
  position: relative;
  font-weight: lighter;

  &::after{
    content: ' ';
    width: 30rem;
    height: 1px;
    background-color: #454545;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
